<h2>Créditos:</h2>
<picture>
  <source
    media="(min-width: 530px)"
    srcset="images/elonMusk.jpg">
  <source
    media="(max-width: 480px)"
    srcset="images/elonMusk-smp.jpg">
  <img
    src="images/elonMusk-md.jpg"
    alt="Elon Musk">
</picture>
<h3><%= autor %></h3> <p>
