<div align="center">
<h2>Créditos:</h2>
<picture>
  <source
    media="only screen and (min-width: 530px) and (min-device-width: 481px)"
    srcset="images/elonMusk.jpg">
  <source
    media="only screen and (max-width: 480px)"
    srcset="images/elonMusk-smp.jpg">
  <img
    src="images/elonMusk-md.jpg"
    alt="Elon Musk">
</picture>
<h3><%= autor %></h3> <p>
</div>
