body             { background: #1f253d; }

#page-wrap:after { content: "Smartphone Layout"; }

h2 span, section h3, label.rem
                 { display: none; }
body             { font-size: xx-large; align: center;}
input { font-size: x-large; }
input[type="submit"] button    { font-size: x-large;}
footer           { font-size: large; }
input[type="text"] { width: 250px; display: inline-block; margin-top: 10px;}
